<%- include('../common/header'); %>
<% for(var i=0; i < queue.length; i++) { %>

  <% if (i%2 == 0) { %>
    <div class="panel panel-default">
      <div class="panel-body">
          <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h4 class="text-center"><%= queue[i].player1 %> vs. <%= queue[i].player2 %></h4>
            </div>
            <div class="col-md-2 col-md-offset-2">
              <a href="/api/games/abandon/<%= queue[i]._id %>" class="btn btn-danger" role="button">
                <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
              </a>
            </div>
          </div>
      </div>
    </div>

  <% }else{ %>
    <div class="well">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
              <h4 class="text-center"><%= queue[i].player1 %> vs. <%= queue[i].player2 %></h4>
          </div>
          <div class="col-md-2 col-md-offset-2">
            <a href="/api/games/abandon/<%= queue[i]._id %>" class="btn btn-danger" role="button">
              <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
            </a>
          </div>
        </div>
    </div>
  <% }%>

<% } %>

<%- include('../common/footer'); %>
