<%- include('../common/header'); %>

    <table class="table table-condensed table-striped">

      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Delta</th>
          <th>Elo</th>
        </tr>
      </thead>

      <tbody>

          <% for(var i=0; i < players.length; i++) { %>
           <tr scope="row">
             <td><%= i+1 %></td>
             <td><%= players[i].name %></td>
             <td><%= players[i].wins - players[i].losses %></td>
             <td><%= players[i].elo %></td>
           </tr>
        <% } %>

      </tbody>

    </table>

<%- include('../common/footer'); %>
