<div class="container-fluid">
  <legend class="text-center"> Leaderboard </legend>
    <table class="table table-condensed table-striped">

      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th class="text-right">Wins</th>
          <th class="text-right">Losses</th>
          <th class="text-right">Delta</th>
          <th class="text-right">Elo</th>
        </tr>
      </thead>

      <tbody>
        <% if(players) { %>
          <% for(var i=0; i < players.length; i++) { %>
        <div class="scoreboard">
           <tr scope="row">
             <td><b><%= i+1 %></b></td>
             <td><b><%= players[i].name %></td>
             <td class="text-right"><b><%= players[i].wins %></b></td>
             <td class="text-right"><b><%= players[i].losses %></b></td>
             <td class="text-right"><b><%= players[i].wins - players[i].losses %></b></td>
             <td class="text-right"><b><%= players[i].elo %></b></td>
           </tr>
       </div>
           <% } %>
        <% } %>
      </tbody>

    </table>
</div>
