<%- include('common/header'); %>

  <div class="row">
    <div class="col-md-12">
      <%- include('elements/playing'); %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 hidden-xs">
      <%- include('elements/table'); %>
    </div>
    <div class="col-md-6">
      <%- include('elements/queue'); %>
    </div>
    <div class="col-md-6 visible-xs">
      <%- include('elements/table'); %>
    </div>
  </div>

<%- include('common/footer'); %>
