<%- include('common/header'); %>
<%- include('elements/playing'); %>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#panel-game" aria-controls="home" role="tab" data-toggle="tab">Game</a></li>
    <li role="presentation"><a href="#panel-leaderboard" aria-controls="home" role="tab" data-toggle="tab">Leaderboard</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" id="panel-game" class="tab-pane active">
      <%- include('elements/waiting'); %>
      <%- include('elements/queue'); %>
    </div>
    <div role="tabpanel" id="panel-leaderboard" class="tab-pane">
        <%- include('elements/table'); %>
    </div>
  </div>
</div>

<%- include('elements/modal'); %>
<%- include('common/footer'); %>
